{% extends 'base.html.twig' %}

{% block content %}

<!-- Section Hero -->
<section class="hero">
    <div class="carousel" id="hero-carousel">
    
        <!-- Slide 1 -->
        <div class="carousel-item active">
            <img src="/assets/images/chicago-94510_1280 (1).jpg" alt="Image 1">
            <div class="carousel-caption">
                <h1>Vimana Paris</h1>
                <p>Votre partenaire pour des événements inoubliables.</p>
                 <a href="{{ path('app_contact') }}" class="btn-contact">Contactez-nous</a>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item">
            <img src="/assets/images/desk-5020801_1280.jpg" alt="Image 2">
            <div class="carousel-caption">
                <h1>Une expérience unique</h1>
                <p>Transformez vos idées en réalité.</p>
                <a href="{{ path('app_contact') }}" class="btn-contact">Contactez-nous</a>
            </div>
        </div>
        <!-- Slide 3 -->
        <div class="carousel-item">
            <img src="assets/images/freepik__surreal-and-dreamlike-saturated-pastel-dreamy-atmo__58221.jpeg" alt="Image 3">
            <div class="carousel-caption">
                <h1>Événements sur mesure</h1>
                <p>Faites de votre événement un succès.</p>
                 <a href="{{ path('app_contact') }}" class="btn-contact">Contactez-nous</a>
            </div>
        </div>

        <!-- Dots (Indicators) -->
        <div class="carousel-indicators">
            <span class="indicator active" data-slide="0"></span>
            <span class="indicator" data-slide="1"></span>
            <span class="indicator" data-slide="2"></span>
        </div>
    </div>
</section>

<!-- Section about avec description et carrousels des projets -->
<section class="about">
    <div class="description">
        <h2>Vimana Paris</h2>
        <p><strong>Au service des entreprises et des artistes</strong></p>
        <p>Vimana est bien plus qu’une agence d’événementiel, c’est une agence d’expériences uniques, fusionnant le monde des entreprises avec l’essence vibrante de l’art et de la culture.</p>
        <p>Notre vocation est de vous accompagner pour l’organisation de vos événements en vous permettant de créer des projets originaux et créatifs, tout en vous offrant un gain de temps considérable.</p>
        <p>Nous vous fournissons des outils pratiques, des conseils stratégiques sur-mesure, un partage d’expérience, des ateliers et une aide logistique... Tout est mis en œuvre pour guider les talents à chaque étape de leur parcours !</p>
        
    
    </div>


  <div class="description2">
    <p>Que vous soyez au début de votre aventure, prêt à décoller, ou déjà au cœur de l'action, <strong>Vimana</strong> est votre partenaire stratégique pour faire de votre projet une réussite.</p>

        <p>Grâce à notre expertise dans les divers secteurs culturels, nous offrons :</p>
        <ul>
            <li>Des solutions concrètes pour structurer, financer et exploiter vos projets</li>
            <li>Des outils stratégiques pour naviguer dans l'écosystème culturel</li>
            <li>Une mission de partage et de coopération, pour soutenir votre réussite, vous transmettre les compétences nécessaires à l'autonomie et vous aider à passer à l’action</li>
            
        </ul>

        <p>Avec nos équipes, vous ne travaillez jamais seul : nous sommes là pour construire, structurer et transformer vos idées en réalités.</p>

        <p>Rejoignez-nous et créons ensemble les projets culturels de demain !</p>

        <p><strong>Découvrez les projets que nous avons menés.</strong></p>
         
            </div>
</section>



    <!-- Section Présentation de la Directrice -->
<section class="director">
    <div class="director-content">
        <div class="director-photo">
            <img src="assets/images/portrait-officiel-VANI-RICHARD-1-scaled.jpg" alt="Photo de la Directrice">
        </div>
        <div class="director-description">
            <h3>Présentation de la fondatrice de Vimana </h3>
            <p><strong>Vani Richard</strong></p>
            <p>Je suis passionnée par la création d'événements qui laissent une empreinte mémorable. Mon objectif est de fusionner l'art et la culture pour offrir des expériences uniques et sur mesure. Fort de mes années d'expérience dans le domaine, je suis heureuse de diriger Vimana Paris et de vous offrir un service d'excellence. Ensemble, créons des moments inoubliables !</p>
        </div>
    </div>
</section>
  
 <section class="carousel-section">
  <h2>Ce que nous proposons et quelques projet realisés</h2>
<!-- Conteneur pour les carrousels -->
<div class="card-carousel-container">
<div class="see-more">
   
</div>
    <!-- Carrousel 1 -->
    <div class="card-carousel">
        <div class="carousel">
            <div class="card">
                <img src="assets/images/Pays mêlé.jpg" alt="Photo 1">
                <div class="card-content">
                    <h3>Événement – Production</h3>
                    <p>En accord avec la direction artistique de Christelle Clairville, nous avons créé une scénographie qui met
                        à l’honneur la qualité du travail des artistes sélectionnés.
                        Nous avons œuvré pour que les publics aient envie d’y rester, et d’y passer un moment de culture et de détente.
                    </p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/livret-pedagogique-1-e1721300969742 (1).jpeg" alt="Photo 2">
                <div class="card-content">
                    <h3>Pays Mêlé</h3>
                    <p>Exposition Pays Mêlé : Empreintes et résilience, conçue par Christelle Clairville de @lamaisongaston_ pour Nuit Blanche 2024,
                     et ouverte du 1er juin au 14 septembre 2024.
                     Mise à l’honneur de l’ouvrage Pays Mêlé, de Maryse Condé.

Les œuvres de 21 artistes contemporains guadeloupéens sont présentées, autour des thématiques des racines, de l’héritage, de la nature, des femmes,
 de la guérison et de la réinvention. 
 Toutes les thématiques sont liées à l’histoire de la Guadeloupe et des Antilles,
  et adaptées pour mettre à l’honneur l’écrivaine Maryse Condé..</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/Ode-à-la-mémoire-1.jpg" alt="Photo 3">
                <div class="card-content">
                    <h3>Empreintes et résilience” </h3>
                    <p>Pays mêlé
Le sous-titre, « Pays mêlé », s’inspire du recueil de nouvelles de l’écrivaine guadeloupéenne Maryse Condé, figure de la littérature
française, disparue en avril. Les 70 œuvres de 21 artistes s’articulent autour de cinq thèmes,
montrant la résilience d’une culture après l’esclavage et la colonisation.

La première salle, consacrée à l’identité de l’île,
 donne à voir par exemple une installation de Philippe Thomarel : 
 sur un mur, de multiples poupées miniatures de différentes couleurs illustrent le métissage de la population.</p>
                </div>
            </div>
        </div>
        <!-- Boutons de navigation -->
        <div class="carousel-navigation">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
        </div>
    </div>

    <!-- Carrousel 2 -->
    <div class="card-carousel">
        <div class="carousel">
            <div class="card">
                <img src="assets/images/image00012-scaled.webp" alt="Photo 4">
                <div class="card-content">
                    <h3>Conseil & Accompagnement</h3>
                    <p>Nous offrons des services de conseil et d’accompagnement pour les artistes et les porteurs de projets culturels. Notre équipe vous aide à structurer vos projets, à développer votre carrière et à surmonter les défis administratifs et financiers.

Avec Vimana Paris, bénéficiez d’un soutien personnalisé pour atteindre vos objectifs artistiques.

Faites passer votre carrière au niveau supérieur.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/UNADJUSTEDNONRAW_thumb_28c5.webp" alt="Photo 5">
                <div class="card-content">
                    <h3>Séminaire des instances de la Fondation pour la mémoire de l'esclavage</h3>
                    <p>Genre de projet
Pour réunir toutes les instances de la Fondation pour la mémoire de l’esclavae (FME) et travailler sur les actions à mener, 
l’institution propose une journée de séminaire. Cette journée est essentielle pour permettre la rencontre entre toutes les personnes
 investies dans le fonctionnement de la FME, et pour installer une cohérence dans l’ensemble de ce que la fondation met en place.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/IMG-20230926-WA00361 (1).jpg" alt="Photo 6">
                <div class="card-content">
                    <h3>Organisation et animation d’un programme d’EAC – Ensemble Les Apaches !.</h3>
                    <p>En septembre 2022, le théâtre Louis Jouvet – Athénée propose à l’Ensemble de musique Les Apaches ! 
                    de créer un programme d’éducation artistique et culturelle à destination de lycéens autour de leur spectacle Street Art. 
                    Durant toute l’année scolaire, quatre intervenants sont venus introduire leurs disciplines artistiques, 
                    la faire pratiquer aux élèves et leurs faire créer un spectacle pour la fin d’année.</p>
                </div>
            </div>
        </div>
        <!-- Boutons de navigation -->
        <div class="carousel-navigation">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
        </div>
    </div>

    <!-- Carrousel 3 -->
    <div class="card-carousel">
        <div class="carousel">
            <div class="card">
                <img src="assets/images/Conseil-et-conference-Association-Artefac-2022.webp" alt="Photo 7">
                <div class="card-content">
                    <h3>Conseil et conférence – Porteurs de projets d’Artefac’</h3>
                    <p>Mise en œuvre 
Conception de la formation avec les dirigeants de l’association, pour obtenir des résultats satisfaisants pour leurs adhérents.
 Analyse des besoins et des questions principales. Adaptée avec encore plus de pratique pour la deuxième session, et en réduisant la partie théorique : les adhérents ont besoin de savoir concrètement comment utiliser leurs ressources financières en vue de la réalisation de leur projet culturel.
 Création d’un dépliant avec les clés théoriques pour qu’ils puissent les garder et s’en servir seuls.</p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/Conference-de-formation-Artefac-Promotion-3-2023.webp" alt="Photo 8">
                <div class="card-content">
                    <h3>Conseil auprès des bénéficiaires de l’association Artefac’</h3>
                    <p>Genre de projet
Conception et animation de la formation, en co-action avec les dirigeants de l’association commanditaire. 
Formation théorique avec atelier pratique.

Sujet
Comment budgétiser son projet culturel et artistique ? 
Quelles sont les bases théoriques et les principales clés pratiques pour pouvoir gérer seul son budget ? 
Comment organiser son projet culturel ? </p>
                </div>
            </div>
            <div class="card">
                <img src="assets/images/Logos-des-partenaires-IESA-e1701771032695.webp" alt="Photo 9">
                <div class="card-content">
                    <h3>Interventions pour les Mastères à l’IESA</h3>
                    <p>Genre de projet
Conception et animation des modules d’enseignement pour les élèves de l’IESA. 
Formations théoriques avec une mise en pratique pour l’examen.
Création de deux modules d’enseignement : Budgétisation et production d’un événement & Montage d’une structure de production 
ou d’événementiel privé.</p>
                </div>

                <p>Inscrivez-vous pour nos futurs evenements</p>
            </div>
           
        </div>


         <a href="{{ path('app_contact') }}" class="btn-see-more">Prendre rendez-vous gratuit</a>
        <!-- Boutons de navigation -->
        
        <div class="carousel-navigation">
            <button class="prev">&#10094;</button>
            <button class="next">&#10095;</button>
            
            
        </div>
    </div>
</div>

<div class="text-section">
    <!-- Bloc de gauche -->
    <div class="text-block left">
        <h3>Nos événements</h3>
        <p>✔ Conception de la scénographie pour une exposition</p>
        <p>✔ Production du concert de Elvieto et de la Fête de la musique Artefac’</p>
        <p>✔ Journées de conférences et accompagnement de porteurs de projets</p>
        <p>✔ Projets sur mesure</p>
        <a href="{{ path('app_expertise') }}" class="btn-see-more">En savoir plus</a>
    </div>

    <!-- Bloc de droite -->
    <div class="text-block right">
        <h3>Expertises</h3>
        <p>✔ ANALYSE de vos besoins et attentes, ainsi que celles de vos publics</p>
        <p>✔ ACCOMPAGNEMENT d’expertes tout au long de votre projet</p>
        <p>✔ CRÉATIVITÉ pour des événements originaux et percutants</p>
        <p>✔ ORGANISATION sur mesure et clé en main</p>
        <a href="{{ path('app_realisations') }}" class="btn-see-more">Decouvrir nos réalisations</a>
    </div>
</div>


    </section>


    

{% endblock %}




   

