{% extends 'base.html.twig' %}
{# templates/expertise/index.html.twig #}



{% block title %}Notre Expertise{% endblock %}

{% block content %}
<section class="expertise">
    <div class="intro">
        <p>L'accompagnement, une formule sur-mesure</p>
        <p>Nous sommes vos partenaires stratégiques, offrant un soutien ponctuel ou mensuel adapté à votre budget. De la production à la diffusion, de la recherche de financements à l’exploration de nouveaux horizons, nous sommes les agents de votre succès artistique.</p>
    </div>
    
    <div class="accompagnement">
        <h3>Prendre votre premier rendez-vous gratuit : parlons de la formule qui vous convient !</h3>
        <p>Pour répondre à vos besoins, l’équipe de Vimana a développé trois types d’accompagnement :</p>
        
        <div class="columns">
            <div class="column">
                <img src="{{ asset('assets/images/vani desk.jpeg') }}" alt="Autonome">
                <h4>AUTONOME – sans engagement</h4>
                <p>1 rendez-vous d’une heure.</p>
                <p>Accompagnement : création, conception, budget, relecture de dossiers.</p>
                <p><strong>À PARTIR DE 120€ TTC PAR MOIS</strong></p>
            </div>
          
              <div class="column">
                <img src="{{ asset('assets/images/WhatsApp-Image-2024-07-20-at-11.29.35-e1721469299765.jpeg') }}" alt="Balisé">
                <h4>BALISÉ – mensuel ou annuel</h4>
                <p>Un premier rendez-vous de mise en place de l’accompagnement.</p>
                <p>12 rendez-vous dans l’année, ou 1 rendez-vous mensuel, à placer comme vous le souhaitez selon l’avancée de votre projet.
                Disponibilités à raison d’un e-mail, pour la gestion des urgences.
                Accompagnement sur : création, conception, budget, dossiers, communication et diffusion.</p>
                <p><strong>À PARTIR DE 250€ TTC PAR MOIS</strong> ou <strong>À PARTIR DE 2780€ TTC PAR AN</strong></p>
                <a href="{{ path('app_contact') }}" class="btn-contact">Contactez-nous</a>
            </div>
            <div class="column">
                <img src="{{ asset('assets/images/WhatsApp-Image-2024-07-20-at-11.04.25.jpeg') }}" alt="Créatif">
                <h4>CRÉATIF – sur-mesure, mensuel ou annuel</h4>
                <p>Un premier rendez-vous de mise en place de l’accompagnement.</p>
                <p>12 rendez-vous dans l’année, ou plus, à placer comme vous le souhaitez selon l’avancée de votre projet.
                Accompagnement à un ou plusieurs rendez-vous avec des interlocuteurs.
Échanges e-mail et appels.
Accompagnement sur : création, stratégies, conception, budget, dossiers, communication et diffusion.</p>
                <p><strong>À PARTIR DE 400€ TTC PAR MOIS</strong> ou <strong>À PARTIR DE 4380€ TTC PAR AN</strong></p>
            </div>
        </div>
    </div>
</section>


<section class="vision">
    <div class="vision-container">
        <div class="vision-text">
            <h3>Notre vision</h3>
            <p><strong>Bien plus qu’une agence, nous sommes un accélérateur pour artistes et porteur.euse.s de projets culturels.</strong></p>
            <p>Tout est mis en œuvre pour guider les talents à chaque étape de leur parcours ! Que vous soyez au début de votre aventure, prêt à décoller ou déjà au cœur de l’action, Vimana est votre partenaire stratégique pour faire de votre projet une réussite.</p>
            <p><strong>Rejoignez-nous</strong> et créez avec nous les projets culturels de demain. 🌍</p>
            <p><em>Vous avez une question, envie de nous parler de votre projet ? N’hésitez pas à nous contacter.</em></p>
            <p>Vimana Paris est née de la volonté de renouveler le secteur de l’événementiel par le biais de la médiation culturelle.</p>
            <p>Nous organisons des événements nouveaux, originaux, créatifs, alliant les besoins de nos clients et les attentes de leurs publics. Le cœur de notre vision se situe dans notre utilisation de la médiation culturelle comme pivot central à la conception de projets quels qu’ils soient.</p>
            <p><strong>Programme d’EAC, au théâtre de l’Athénée.</strong></p>
            <a href="{{ path('app_contact') }}" class="btn-see-more">Nous contacter</a>
        </div>
        <div class="vision-image">
            <img src="{{ asset('assets/images/IMG-20230926-WA00381 (1).webp') }}" alt="Notre vision">
        </div>
    </div>
</section>

{% endblock %}
