{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}
    {# Affichage des flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="form-container"> <!-- Conteneur flex pour aligner à gauche -->
        <form method="post">
            {{ form_start(form) }}

            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>

            <div class="form-group">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>

            <div class="form-group">
                {{ form_label(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>

            <div class="form-group">
                {{ form_label(form.plainPassword) }}
                {{ form_widget(form.plainPassword) }}
            </div>

            {{ form_end(form) }}
        </form>
    </div>

    <p>Vous avez déjà un compte ? <a href="{{ path('app_connexion') }}">Se connecter</a></p>
    <a href="{{ path('app_home') }}" class="btn btn-light">Retour à l'accueil</a>
{% endblock %}
